:root {
  --bg-color: rgba(227, 237, 249, 0.95);
  --text-color: #053370;
}

body {
  background-color: var(--bg-color);
  font-family: "inter", sans-serif;
}

.app-container {
  padding: 0px;
  display: flex;
  height: 100vh;
  justify-content: flex-start;
  align-items: center;
}

.menu-toggle,
.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 10px;
  font-size: 30px;
  color: var(--text-color);
  text-decoration: none;
}

.menu-toggle:hover,
.nav-link:hover {
  background-color: #cadcf1;
}

canvas {
  width: 100%;
  height: 400px;
}

.main-content {
  margin-bottom: auto;
  background-color: white;
  margin-left: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  max-width: 850px;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}

.main-content h2 {
  color: var(--text-color);
  gap: 15px;
  text-align: center;
}
