* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "inter", sans-serif; */
}

body {
  background-color: #dae2ef;
}

.container {
  display: flex;
  min-height: 100vh;
}

.header-top {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
  height: 50px;
}
.notify {
  cursor: pointer;
}
.user-avatar {
  background: #ffffff;
  color: #032b64;
  font-weight: 600;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* Main content */
.main {
  flex: 1;
  padding: 20px;
}

.date-control {
  display: flex;
  align-items: center; /*  canh giữa dọc */
  gap: 10px;
  margin: 20px auto; /*  căn giữa theo chiều ngang */
  width: fit-content; /*  vừa khít nội dung */
  background-color: #fdfdfe;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.date-control input {
  width: 130px;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* Biểu đồ thống kê */
.stats {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  max-width: 420px;
  margin: 0 auto 30px auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.chart-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 15px;
}

#pieChart {
  width: 180px !important;
  height: 180px !important;
}

.color-box {
  display: inline-block;
  width: 40px;
  height: 20px;
  border-radius: 3px;
  margin-right: 5px;
}

.blue {
  background-color: #4a90e2;
}
.orange {
  background-color: #d68910;
}

.green {
  background-color: #7ed6a3;
}


.chart-info {
  display: flex;
  flex-direction: column;
  gap: 6px;
  text-align: left;
}

.chart-info p {
  display: flex;
  align-items: center; /* căn giữa theo chiều dọc */
  gap: 8px;            /* khoảng cách giữa ô màu và chữ */
  margin: 0;           /* bỏ margin mặc định */
  font-size: 14px;
}



.chart-info p {
  display: flex;
  align-items: center; /* căn giữa theo chiều dọc */
  gap: 8px;            /* khoảng cách giữa ô màu và chữ */
  margin: 0;           /* bỏ margin mặc định */
  font-size: 15px;
}

/* Lịch sử giao dịch */
.history {
  background-color: #f6f8fc;
  border: 2px solid #89a8d6;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.history h3 {
  text-align: center;
  background-color: white;
  color: #e49c48;
  border-radius: 8px;
  display: inline-block;
  padding: 5px 15px;
  margin: 0px auto 15px;
  display: block;
  width: fit-content;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #e1ebfa;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

