* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "inter", sans-serif;
}

body {
  background-color: var(--bg-color);
}
:root {
  --tr-hover-color: rgb(243, 243, 243);
  --h2-color: #003483;
  --bg-color: #e4eef9;
  --button-hover-bg-color: rgb(123, 159, 226);
  --button-hover-text-color: gray;
  --bg-canvas-color: white;
  --text-color: black;
  --border-color: #ddd;
  --result-color: #003483;
  --chart-in-color: rgba(219, 163, 98, 1);
  --chart-in-bg-top: rgba(219, 163, 98, 0.1);
  --chart-in-bg-bottom: rgba(219, 163, 98, 0.02);

  --chart-out-color: rgba(182, 211, 250, 1);
  --chart-out-bg-top: rgba(182, 211, 250, 0.1);
  --chart-out-bg-bottom: rgba(182, 211, 250, 0.02);

  --chart-text-color: #111;
  --chart-grid-color: rgba(0, 0, 0, 0.05);
  --tooltip-bg: rgba(227, 237, 249, 0.95);
  --tooltip-text: #000000ff;
}
/* Dark mode */
body.dark-mode {
  --tr-hover-color: rgb(80, 80, 80);
  --h2-color: rgb(255, 255, 255);
  --button-hover-bg-color: rgb(255, 0, 34);
  --button-hover-text-color: rgb(255, 255, 255);
  --result-color: red;
  --bg-color: #02214d;
  --bg-canvas-color: #101d31;
  --text-color: white;
  --border-color: rgb(255, 255, 255);
  --chart-in-color: rgba(255, 186, 99, 1);
  --chart-in-bg-top: rgba(255, 186, 99, 0.2);
  --chart-in-bg-bottom: rgba(255, 186, 99, 0.05);

  --chart-out-color: rgba(119, 165, 250, 1);
  --chart-out-bg-top: rgba(119, 165, 250, 0.2);
  --chart-out-bg-bottom: rgba(119, 165, 250, 0.05);

  --chart-text-color: #f5f5f5;
  --chart-grid-color: rgba(255, 255, 255, 0.1);
  --tooltip-bg: rgba(50, 50, 50, 0.95);
  --tooltip-text: #ffffff;
}
.container {
  display: flex;
  min-height: 100vh;
}

.header-top {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
  height: 50px;
}
.notify {
  cursor: pointer;
  font-size: 24px;
  background: none;
}
.user-avatar {
  background: #ffffff;
  color: #032b64;
  font-weight: 600;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.under-right-container h3 {
  color: var(--text-color);
}
.under-right-container h3 {
  background-color: var(--bg-canvas-color);
  color: var(--text-color);
}
.chart-container {
  background-color: var(--bg-canvas-color);
  color: var(--text-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 15px;
}
/* Main content */
.main {
  flex: 1;
  padding: 20px;
}
html body div div div form input {
  margin-top: 7px;
  height: 40px;
  width: 600px;
}
.date-control button {
  border: var(--border-color) 1px solid;
  background-color: var(--bg-color);
  color: var(--text-color);
}
.date-control input {
  border: var(--border-color) 1px solid;
  background-color: var(--bg-color);
  color: var(--text-color);
}
#dataInput:hover {
  background-color: var(--button-hover-bg-color);
  color: var(--button-hover-text-color);
}
#dateInput {
  background-color: var(--bg-canvas-color);
  border: var(--border-color) 1px solid;
}
.date-control {
  margin-bottom: 20px;
  display: flex;
  padding: auto;
  gap: 10px;
  justify-content: center; /* Giúp cụm ngày ra giữa */
}
/* Nút trái phải */
.date-control button:hover {
  background-color: var(--button-hover-bg-color);
  color: var(--button-hover-text-color);
}
.date-control button {
  background-color: var(--bg-canvas-color);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  cursor: pointer;
  padding: 4px 10px;
  margin: 10px;
}

.date-control input {
  padding: 5px 10px;
  border: 0px;
  border-radius: 6px;
  font-weight: bold;
  font-size: 15px;
}

/* Biểu đồ thống kê */
.stats {
  background-color: var(--bg-canvas-color);
  color: var(--text-color);
  border: var(--border-color) 1px solid;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  max-width: 600px;
  height: 300px;
  margin: 0 auto 30px auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.chart-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 15px;
}

#pieChart {
  width: 180px !important;
  height: 180px !important;
}

.color-box {
  display: inline-block;
  width: 40px;
  height: 20px;
  border-radius: 3px;
  margin-right: 5px;
}

.blue {
  background-color: #4a90e2;
}
.orange {
  background-color: #d68910;
}

.green {
  background-color: #7ed6a3;
}

.chart-info {
  display: flex;
  flex-direction: column;
  gap: 6px;
  text-align: left;
}

.chart-info p {
  display: flex;
  align-items: center; /* căn giữa theo chiều dọc */
  gap: 8px; /* khoảng cách giữa ô màu và chữ */
  margin: 0; /* bỏ margin mặc định */
  font-size: 14px;
}

.chart-info p {
  display: flex;
  align-items: center; /* căn giữa theo chiều dọc */
  gap: 8px; /* khoảng cách giữa ô màu và chữ */
  margin: 0; /* bỏ margin mặc định */
  font-size: 15px;
}

/* Lịch sử giao dịch */
.history {
  background-color: #f6f8fc;
  border: 2px solid #89a8d6;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.history h3 {
  text-align: center;
  background-color: var(--bg-canvas-color);
  color: var(--text-color);
  border-radius: 8px;
  display: inline-block;
  padding: 5px 15px;
  margin: 0px auto 15px;
  display: block;
  width: fit-content;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
}

th,td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #e1ebfa;
}
.dark-mode th {
  background-color: #0f254e;
}

tbody tr:hover {
  background-color: var(--tr-hover-color);
}
tr,
th,
td {
  text-align: left;
  color: var(--text-color);
  font-size: 18px;
  padding: 10px 5px 10px 10px;
  border: 1px solid #ddd;
  border-left: none;
  border-right: none;
  border-collapse: collapse;
}
tr th {
  font-size: 20px;
}
#garageTable {
  color: var(--text-color);
  background-color: var(--bg-canvas-color);
}
.history {
  color: var(--text-color);
  background-color: var(--bg-canvas-color);
}
@media (max-width: 720px) {
  .employee-list {
    gap: 8px;
  }

  .employee-item {
    padding: 6px 10px;
    font-size: 13px;
  }
}
