body {
  display: flex;
  background-color: var(--bg-color);
  padding: 0px;
  align-items: center;
}
:root {
  --bg-color: #fff;
  --text-color: black;
  --border-color: #ddd;
}
.dark-mode {
  --bg-color: #02214d;
  --text-color: white;
  --border-color: #lightblue;
}
.toggle-container {
  border: var(--text-color) 3px solid;
  border-radius: 60px;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 100px;
  background-color: rgb(235, 235, 235);
  display: flex;
  align-items: center;
}
.toggle {
  border-radius: 200px;
  width: 100px;
  height: 100px;
  background-color: var(--text-color);
  transition: transform 0.5s, backgroud-color 0.5s;
}
#switchModeBtn:checked + .toggle-container .toggle {
  transform: translateX(200px);
}
h1 {
  font-size: 90px;
  margin-right: 40px;
  color: var(--text-color);
}
.container {
  margin-left: 200px;
  margin-top: -600px;
  display: flex;
  align-items: center;
}
@media (max-width: 720px) {
  .employee-list {
    gap: 8px;
  }

  .employee-item {
    padding: 6px 10px;
    font-size: 13px;
  }
}
