body {
  display: flex;
  background-color: var(--bg-color);
  padding: 0px;
  align-items: center;
}
:root {
  --bg-color: #fff;
  --text-color: black;
}
.dark-mode {
  --bg-color: black;
  --text-color: white;
}
.toggle-container {
  border: black 3px solid;
  border-radius: 60px;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 100px;
  background-color: rgb(235, 235, 235);
  display: flex;
  align-items: center;
}
.toggle {
  border-radius: 200px;
  width: 100px;
  height: 100px;
  background-color: black;
  transition: transform 0.5s, backgroud-color 0.5s;
}
#switchModeBtn:checked + .toggle-container .toggle {
  transform: translateX(200px);
}
