body {
  display: flex;
  background-color: #e3edf9;
  padding: 0px;
}
/* Sidebar */
.sidebar {
  position: sticky;
  top: 0;
  height: 70vh; /* Độ cao tối đa của sidebar */
  background: var(--panel);
  border-radius: 10px;
  overflow-y: auto;
  width: 72px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 6px;
  border-right: 1px solid rgba(20, 40, 60, 0.06);
}
.menu-btn {
  border: none;
  background: transparent;
  font-size: 20px;
  cursor: pointer;
  margin-bottom: 10px;
}
.nav-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  flex: 1;
}
.nav-item {
  width: 44px;
  height: 44px;
  border: none;
  background: transparent;
  font-size: 18px;
  cursor: pointer;
  border-radius: 10px;
}
.nav-item :hover {
  background: #cadcf1;
}
.spacer {
  flex: 1;
}
.sidebar {
  background-color: #fff;
  float: left;
}
.chart {
  border-radius: 10px;
  margin-top: 30px;
  background-color: #fff;

  height: 750px;
  width: 1100px;
  padding: 10px 20px 10px 20px;
}
#container {
  width: 100%;
  float: left;
}
/* Cụm ngày ở giữa */
.date-control {
  display: flex;
  padding: auto;
  gap: 10px;
  justify-content: center; /* Giúp cụm ngày ra giữa */
}

/* Nút trái phải */
.date-control button {
  background: #edf0f6;
  border: 1px solid #cdd5e0;
  border-radius: 4px;
  cursor: pointer;
  padding: 4px 10px;
  margin: 10px;
}

.date-control input {
  padding: 5px 10px;
  border: 0px;
  border-radius: 6px;
  font-weight: bold;
  font-size: 15px;
}
.right {
  margin-top: 20px;
  margin-left: 400px;
  margin-right: 400px;
}
.buttonbackground {
  padding: auto;
  margin: auto;
  width: 266px;
  height: 46px;
  display: inline-flex;
  display: flex;
  background-color: #fff;
  justify-content: center;
}
html body div div div form input {
  margin-top: 7px;
  height: 40px;
  width: 600px;
}
html body div div div form button {
  margin-top: 7px;
  height: 40px;
}
html body div div div form {
  margin: 30px;
  display: flex;
  justify-content: center;
  display: block;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
tr,
th,
td {
  color: #003483;
  font-size: 15px;
  padding: 5px 5px 5px 10px;
  border: 3px solid #000000;
  border-collapse: collapse;
}
#result {
  margin-top: 10px;
  border: #000000 2px solid;
  font-size: 18px;
  font-weight: bold;
  background-color: rgb(255, 255, 255);
  color: black;
  padding: 20px;
  font-size: 15px;
}
