body {
  background-color: #e3edf9;
  padding: 0px;
}
/* Sidebar */
.sidebar {
  position: sticky;
  top: 0;
  height: 70vh; /* Độ cao tối đa của sidebar */
  background: var(--panel);
  border-radius: 10px;
  overflow-y: auto;
  width: 72px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 6px;
  border-right: 1px solid rgba(20, 40, 60, 0.06);
}
.menu-btn {
  border: none;
  background: transparent;
  font-size: 20px;
  cursor: pointer;
  margin-bottom: 10px;
}
.nav-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  flex: 1;
}
.nav-item {
  width: 44px;
  height: 44px;
  border: none;
  background: transparent;
  font-size: 18px;
  cursor: pointer;
  border-radius: 10px;
}
.nav-item :hover {
  background: #cadcf1;
}
.spacer {
  flex: 1;
}
div {
  width: 80%;
  float: right;
  height: 700px;
}
#container {
  float: left;
}
