body {
  display: flex;
  background-color: #e3edf9;
  padding: 0px;
}

.spacer {
  flex: 1;
}

.chart {
  border-radius: 10px;
  margin-top: 30px;
  background-color: #fff;
  padding: 5px 10px 5px 10px;
  height: 550px;
  width: 880px;
  margin-left: auto;
  margin-right: auto;
}
#container {
  width: 100%;
  float: left;
}
/* Cụm ngày ở giữa */

html body div div div form input {
  margin-top: 7px;
  height: 40px;
  width: 600px;
}
.date-control {
  display: flex;
  padding: auto;
  gap: 10px;
  justify-content: center; /* Giúp cụm ngày ra giữa */
}
/* Nút trái phải */
.date-control button {
  background: #edf0f6;
  border: 1px solid #cdd5e0;
  border-radius: 4px;
  cursor: pointer;
  padding: 4px 10px;
  margin: 10px;
}

.date-control input {
  padding: 5px 10px;
  border: 0px;
  border-radius: 6px;
  font-weight: bold;
  font-size: 15px;
}
.right {
  margin-top: 20px;
  margin-left: 400px;
  margin-right: 400px;
}
.buttonbackground {
  padding: auto;
  margin: auto;
  width: 266px;
  height: 46px;
  display: inline-flex;
  display: flex;
  background-color: #fff;
  justify-content: center;
}

html body div div div form button {
  margin-top: 7px;
  height: 40px;
}
html body div div div form {
  margin: 30px;
  display: flex;
  justify-content: center;
  display: block;
}
table {
  margin: 0px 10px 0px 10px;
  width: 98%;
  border-collapse: collapse;
  margin-top: 50px;
}
tr,
th,
td {
  text-align: left;
  color: #003483;
  font-size: 15px;
  padding: 7px 5px 7px 10px;
  border: 1px solid #000000;
  border-left: none;
  border-right: none;
  border-collapse: collapse;
}
tr th {
  font-size: 20px;
}

#result {
  margin-top: 50px;
  display: none;
  text-align: left;
  color: #003483;
  font-size: 20px;
  padding: 7px 5px 7px 10px;
  border: 1px solid #000000;
  border-left: none;
  border-right: none;
  border-collapse: collapse;
}
h2 {
  padding-left: 20px;
  color: #003483;
}

.table {
  width: 140%;
  margin-left: -160px;
  margin-top: 40px;
  padding-top: 1px;
  background-color: #fff;
  border-radius: 10px;
  padding-bottom: 20px;
}
#search {
  width: 90%;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 16px;
}
#search-button {
  width: 9.6%;
  font-size: 20px;
  float: right;
}
#search-button:hover {
  background-color: #00ffc8;
  font-weight: bold;
}
#clear:hover {
  background-color: #ff6e6e;
  font-weight: bold;
}
#clear {
  display: none;
  float: right;
  width: 9.6%;
  font-size: 20px;
}
