:root {
  --bg-color: rgba(227, 237, 249, 0.95);
  --text-color: #053370;
}

body {
    background-color: var(--bg-color);
    font-family: "inter", sans-serif;
}

.app-container {
    padding : 0px;
    display: flex;
    height: 100vh;
    justify-content: flex-start;
    align-items: center;
}
.sidebar {
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    width: 67px;
    height: 90vh;
    background-color: white;
    border-radius: 15px;
}

.sidebar-top {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;                  
    height: 70px;  
    padding: 0;
}

.sidebar-nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    gap: 24px;
    text-decoration: none;
    list-style: none;
}

.menu-toggle, .nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 10px;
    font-size: 30px;
    color: var(--text-color);
    text-decoration: none;
}

.menu-toggle:hover, .nav-link:hover {
    background-color: #CADCF1;
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 12px 0;
    margin: 0;
    list-style: none;
}

.sidebar-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    padding: 12px 0;
    gap: 16px;
}

canvas {
    width: 100%;
    height: 400px;
}


.main-content {
    margin-bottom: auto;
    background-color: white;
    margin-left: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    max-width: 850px;
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.05);

}

.main-content h2 {
    color: var(--text-color);
    gap: 15px;
    text-align: center;
}
    